* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsl(0, 100%, 97%);
}

body {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
}

.tudo {
    margin-left: 10em;
    margin-right: 10em;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(19, 19, 19, 0.8), rgba(43, 42, 42, 0.8));
    box-shadow: 5px 5px 10px hsl(0, 0%, 3%);
    opacity: 0.99;
    backdrop-filter: blur(10px);
} 

hr {
    margin-left: 1%;    
    margin-right: 1%;
    opacity: 0.5;
}

img {
    border-radius: 15px;
    margin: 1em;
}

header {
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 7%, 0.8));
}

.titulo {
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-family: "poppins-thin", "times new roman";
    font-size: 130%;
    margin-bottom: -1em;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    padding-bottom: 1em;
}

li:hover {
    cursor: pointer;
}

.sobre {
    padding: 2em;
    background: linear-gradient(90deg, hsl(0, 4%, 5%), hsl(0, 2%, 12%));
    border-radius: 15px;
    margin: 1em;
    box-shadow: 5px 5px 5px rgb(22, 22, 22);
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    &::after {
        display: table;
        clear: both;
        content: "";
    }
    &:hover {
        transform: scale(1.01);
    }
}

h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    font-family: "poppins-thin", "times new roman";
}

#perfil {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 2em;
    float: left;
    margin-top: -60px;
}

.projetos {
    background: linear-gradient(90deg, hsl(0, 4%, 5%), hsl(0, 2%, 12%));
    margin: 1em;
    border-radius: 15px;
    padding: 2em;
    box-shadow: 5px 5px 5px rgb(22, 22, 22);
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    &:hover {
        transform: scale(1.01);
    }
}

.projetos h1 {
    font-family: "poppins-thin", "times new roman";
}

.projetos a {
    margin-top: 1em;
    margin-bottom: 10px;
}

.projeto {
    display: flex;
    flex-direction: column;
}

.tituloP {
    margin: 1em;
}

.contato {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.formulario {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

input{
    height: 3em;
}

button {
    width: 5em;
    height: 3em;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: black;
    &:hover {
        cursor: pointer;
    }
}

.formulario {
    display: flex;
    flex-direction: row;
}

.final {
    margin: 1em;
}